[build]
  functions = "netlify/functions"
  publish = "."
  included_files = ["index.html", "error.html"]

[functions]
  directory = "netlify/functions"
  external_node_modules = ["express"]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true
