[build]
  functions = "netlify/functions"
  publish = "."

[functions]
  external_node_modules = ["express"]
  node_bundler = "esbuild"
  included_files = ["index.html", "error.html"]

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/api"
status = 200